/* container */
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

/* input */
.inputField {
  width: 315px;
  padding: 6px 12px 6px 30px;
  border: 1px solid #4c4c4c;
  border-radius: 2px;
  background: none;
  outline: none;
}

/* default */
.default {
  color: #fff;
}

.default:hover {
  border-color: #8d9094;
}

.default::placeholder {
  color: #8d9094;
}

.default:focus {
  border-color: white;
}

.default:focus::placeholder {
  color: #fff;
}

/* error */
.errorMsg {
  color: red;
  margin-top: 4px;
  font-size: 12px;
}

.error {
  border-color: red;
}

.error:focus::placeholder {
  color: white;
}

/* disabled */
.disabled {
  cursor: not-allowed;
  color: #4c4c4c;
  border-color: #4c4c4c;
}

.disabled::placeholder {
  color: #4c4c4c;
}

.disabled ~ .icon {
  color: #4c4c4c;
}

/* icon */
.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #8d9094;
}

.active .icon {
  color: #fff;
}
