
.optionsBlock{
  height: 109px;
}

.item {
  cursor: pointer;
box-sizing: border-box;
  display: flex;
  width: 100%;

  padding: 6px 12px;

  text-align: start;

  background: none;
  border: none;
  outline: none;

  transition: 200ms background-color,
  200ms color;

  &:hover{
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }

  &[data-headlessui-state='active focus selected'] {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
  }

  &[data-headlessui-state='active focus'] {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }

  &[data-headlessui-state=' selected'] {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }
}

.content {
  overflow: hidden;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;
  outline: none;

  &[data-headlessui-state='open']{
    &[data-headlessui-state='selected'],
    &[data-headlessui-state='active focus selected'] {
      color: var(--color-accent-500);
    }
  }

  &.secondary {
    border: 1px solid var(--color-accent-500);

    & .item {
      &[data-headlessui-state~='active'],
      &[data-headlessui-state~='selected'] {
        color: var(--color-dark-100);
        background-color: var(--color-dark-500);
      }
    }
  }
}