.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxShadow {
  transition: box-shadow 0.3s ease;
  border-radius: 50%;
}

.shadowEnabled {
  box-shadow: 0px 0px 0px 7px var(--color-dark-100);
}

.checkboxShadow:hover {
  box-shadow: 0px 0px 0px 7px var(--color-dark-300);
}

.checkboxShadowNoHover:hover {
  box-shadow: unset;
}

.checkboxShadow:focus {
  box-shadow: 0px 0px 0px 7px var(--color-dark-500);
}

.checkboxShadowNoFocus:focus {
  box-shadow: unset;
}

.checkboxRoot:disabled {
  background-color: var(--color-dark-100);
}

.checkboxRoot {
  all: unset;
  background-color: var(--color-light-100);
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxUnchecked {
  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-500);
  box-sizing: border-box;
}

.checkboxIndicator {
  color: var(--color-dark-900);
  padding-top: 3px;
}

.checkboxLabel {
  padding-left: 8px;
  font-family: 'Inter', 'serif';
  color: var(--color-light-100);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.checkboxLabelDisabled {
  color: var(--color-light-900);
}