/* container */
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 315px;
}

/* input */
.inputField {
  width: 100%;
  padding: 6px 12px 6px 12px;
  border: 1px solid #4c4c4c;
  border-radius: 2px;
  background: none;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
}

.inputGroup {
  margin-bottom: 15px;
}

/* label */
label {
  color: #8d9094;
}

/* default */
.default {
  color: #fff;
}

.default:hover {
  border-color: #8d9094;
}

.default::placeholder {
  color: #8d9094;
}

.default:focus {
  border-color: white;
}

.default:focus::placeholder {
  color: #fff;
}

/* error */
.errorMsg {
  color: red;
  margin-top: 4px;
  font-size: 12px;
  height: 16px;
  visibility: hidden;
}

.errorMsg.show {
  visibility: visible;
  height: auto;
}

.error {
  border-color: red;
}

.error:focus::placeholder {
  color: white;
}

/* disabled */
.disabled {
  cursor: not-allowed;
  color: #4c4c4c;
  border-color: #4c4c4c;
}

.disabled::placeholder {
  color: #4c4c4c;
}

/* icon */
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}
