.scrollContainer {
  overflow: auto;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-dark-500);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-200);
    cursor: pointer;
  }
}
