// Label
.label {
  cursor: pointer;
  color: var(--color-light-900);
}

// Container
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;

  &:has(.disabled) {
    .label {
      cursor: default;
    }
  }
}

// Input
.inputField {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;

  color: var(--color-light-100);

  background: none;
  border: 1px solid var(--color-light-900);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:hover {
    border-color: var(--color-dark-100);
  }

  &:focus {
    border-color: var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }
  }
}

// InputSearch
.inputSearch {
  padding: 6px 12px 6px 30px;
}

// Error Message
.errorMsg {
  height: var(--font-size-m);
  margin: 4px 0;

  font-size: var(--font-size-xs);
  color: var(--color-danger-500);

  visibility: hidden;

  &.show {
    height: auto;
    visibility: visible;
  }
}

// IconSearch
.iconSearch {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  color: var(--color-light-900);
}

.active .iconSearch {
  color: var(--color-light-100);
}

// Error State
.error {
  border-color: var(--color-danger-500);

  &::placeholder {
    color: var(--color-danger-500);
  }

  ~ .iconSearch {
    color: var(--color-danger-500);
  }

  &:focus::placeholder {
    color: var(--color-light-100);
  }

  &:focus {
    ~ .iconSearch {
      color: var(--color-light-100);
    }
  }
}

// IconPass
.iconPass {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  color: var(--color-light-100);
}

// Disabled State
.disabled {
  cursor: not-allowed;
  color: var(--color-dark-100);
  border-color: var(--color-dark-100);

  &::placeholder {
    color: var(--color-dark-100);
  }

  ~ .iconPass {
    cursor: not-allowed;
    color: var(--color-dark-100);
  }
}

.active .iconPass {
  color: var(--color-light-100);
}
