.textareaRoot {
  display: flex;
  flex-direction: column;
  color: var(--color-dark-200);
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 400;

  .textAreaLabel {
    color: var(--color-dark-200);
    padding-bottom: 3px;
    font-size: 14px;
  }

  .textArea {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
    border-radius: 1px;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    outline: none;
    resize: none;
    &:hover {
      color: var(--color-dark-200);
    }
    &:focus {
      color: var(--color-light-100);
      border: 1px solid var(--color-accent-700);
    }
    &:active {
      color: var(--color-light-100);
      border: 1px solid var(--color-light-100);
      outline: none;
    }
    &.disabled {
      color: var(--color-dark-200);
      border: 1px solid var(--color-light-100);
    }
  }

  .textAreaError {
    color: var(--color-danger-500);
    font-size: 14px;
    padding-top: 2px;
  }

  .errorBorder {
    border: 1px solid var(--color-danger-500);
    &:active {
      border: 1px solid var(--color-danger-500);
    }
    &:focus {
      border: 1px solid var(--color-danger-500);
    }
  }
}
